extends layout

block content
  h1= title
  
  each order, i in orders
    form(id=order.customerName)
        h3 #{order.customerName}
        button(class="completebutton", name=order.customerName, value=#{order._id})
        | Order Complete
        each ingredient, i in order.ingredients
          p #{ingredient.ingredient} 